h1,
p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: #a213c3;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid #7b7bbc;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 2px solid rgb(111, 46, 99);
  ;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5334ce;
  color: white;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #7b7bbc;
}
tr:hover {
  background-color: rgb(25, 194, 216);
  ;
}

td {
  text-align: center;
  padding: 8px;
}

h1 {
  padding: 50px;
  text-align: center;
  background: #7b7bbc;
  color: white;
  font-size: 60px;
}